{% extends 'base.html.twig' %}

{% block title  "Home page" %}

{% block body %}
	<h1>SHOW ALL STUDENTS
	</h1>

	<h3>
		<a href="{{ path('ShowALLStudents') }}" type="button" class="btn btn-danger">Back</a>
	</h3>
	<h4>
		{% for message in app.flashes("success") %}
			<div class="alert alert-success" role="alert">
				{{message}}
			</div>
		{% endfor %}
	</h4>
	<table id="articles" class="table table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Student Number</th>
				<th scope="col">Dep-Name</th>
				<th scope="col">Capacity</th>

			</tr>
		</thead>
		<tbody id="list"></tbody>
	</table>
	<div>
		<a class="btn btn-primary" href="{{ path('api_student_index') }}">Get STUDENT API LIST</a>
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/api.js') }}"></script>
{% endblock %}
